<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>Directory</title>

    <link th:include="common :: commonhead">

</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side" >

        <!--logo and iconic logo start-->
        <div class="logo">
            <a th:href="@{/main}"><img src="images/logo_icon.png" alt=""></a>
        </div>

        <div class="left-side-inner">

            <ul class="nav nav-pills nav-stacked custom-nav">
                <li><a th:href="@{/main}">
                    <span>主页</span></a>
                </li>
                <li th:if="${session.loginUser == 'admin'}" class="active"><a th:href="@{/userManagements}"><i class="fa fa-bullhorn"></i><span>用户管理</span></a></li>
                <li th:unless="${session.loginUser == 'admin'}" class="active"><a th:href="@{/personalMassage}"><i class="fa fa-bullhorn"></i><span>个人信息</span></a></li>
                <li><a th:href="@{/search(pn=1)}"><i class="fa fa-cogs"></i> 药材信息管理</a></li>
                </li>
            </ul>
            <!--sidebar nav end-->
        </div>
    </div>
    <!-- left side end-->
    
    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div th:replace="common :: headermenu"></div>
        <!-- header section end-->

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                用户信息
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a th:href="@{/main}">主页</a>
                </li>
                <li class="active">用户管理</li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="directory-info-row">
                <div class="row">
                    <div class="col-md-6 col-sm-6" th:each="user,stat:${all}">
                        <div class="panel">
                            <div class="panel-body">
                                <h3 th:text="${user.getId()}">
                                    <span class="text-muted small"> - 普通用户</span>
                                </h3>
                                <div class="media">
                                    <div class="media-body">
                                        <address>
                                            <strong th:text="${user.getUsername()}"></strong><br>
                                            <abbr>电话</abbr>:&emsp;[[${user.getPhoneNumber()}]]<br>
                                            <abbr>年龄</abbr>:&emsp;[[${user.getAge()}]]<br>
                                            <abbr>邮箱</abbr>:&emsp;[[${user.getEmail()}]]<br>
                                        </address>
                                        <a style="color: white" th:href="@{/editUser(username=${user.getUsername()})}" class="btn btn-primary">修改</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <div th:replace="common :: #footer"></div>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<div th:replace="common :: #commonscript"></div>

</body>
</html>
